@import "config", "navbar", "home", "footer", "posts", "responsive";

* {
  font-family: $source-serif;
  margin: 0;
  padding: 0;
}

.content, .diakiriksi {
  p, div {
    margin: 10px 0;
  }
}

a {
  text-decoration: none;
  transition: none !important;
}

.navigation.pagination {
  display: flex !important;
  justify-content: center !important;

  .nav-links {
    .page-numbers {
      font-size: 1.3rem;
      background-color: black;
      color: white;
      padding: .2rem 1rem;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
        //border: none;
        color: black;
        background-color: $mainColor;
      }

      span {
        color: unset !important;
      }
    }
  }
}

.important {
  color: black;
  font-family: "Source Serif Pro", serif;
  font-weight: bold;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: #EDB443;

    left: 0;
    right: 0;
    bottom: 2px;
    width: 100%;
    height: 30%;
    z-index: -1;
    transition: all .5s ease;

  }

  &:hover {
    &::after {
      height: 100%;
    }
  }
}

.section-header {
  color: black;
  font-family: "Source Serif Pro", serif;
  font-size: 3em;
  word-break: break-word;
  position: relative;
  text-align: center;
  display: block;
  width: max-content;
  margin: auto;
  margin-bottom: 3rem;

  &::after {
    content: "";
    position: absolute;
    height: 30%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: #EDB443;
    z-index: -1
  }
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  height: 100vh;
  scroll-behavior: smooth;
  width: 100%;
  font-size: 16px;
  background-color: $secondaryColor
}

input[type=submit] {
  width: 50%;
  margin: auto;
  cursor: pointer;
}

input[type=checkbox] {
  width: unset;
  margin: auto;
}

img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-family: $source-serif;
}

.form-submit {
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
}

.flex {
  display: flex !important;
}

input, textarea {
  font-family: $source-serif;
  margin: 1rem 0;
  width: 100%;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  padding-left: 1.5rem;
  border: 1px solid #5e6576;
  border-radius: 8px;
  background-color: #ffffff;
  color: black;
  font-size: 0.875rem;
  line-height: 1.5rem;
  -webkit-appearance: none;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.color-main {
  color: $mainColor;
}

.btn-primary {
  width: 168px;
  height: 50px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  border-radius: 224px;
  font-size: 1.1em;
  -webkit-transition: all 0.5s ease;
  transition: color, background 0.5s ease
}

.btn-secondary {
  a {
    color: unset;
  }

  width: 168px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: transparent;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 224px;
  font-size: 1.1em
}

.btn-primary {
  width: 168px;
  height: 50px;

  a {
    color: unset;
  }

  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  border-radius: 224px;
  font-size: 1.1em;
  -webkit-transition: all 0.5s ease;
  transition: color, background 0.5s ease
}

.btn-primary:hover {
  background-color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.7)
}

.btn {
  font-family: $source-serif;
  padding: .4rem 2rem;
  outline: none;
  border: 1px solid rgba(#0000, 0.5);
  color: black;
  display: block;
  margin: auto;
  margin-top: 3rem;
  border-radius: 224px;
  font-size: 1.1em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

  a {
    color: unset;
  }
}
.badge-time{
  position: absolute;
  background-color: #86e8f8;
  width: 100%;
  color: black;
  border-radius: 10px 10px 0 0;
  text-align: center;
  height: 30px;
  font-size: 1.1rem;
  /* padding: 0.3rem; */
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  i{
    margin-right: 1rem;
  }
}

.form-submit{
  text-align: center!important;
}

.btn:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);

  border: 1px solid rgba(#0000, 1);
  color: white;
  background-color: black;
  cursor: pointer;
  //box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.7)
}


.btn-secondary:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.7)
}

.font-main {
  font-family: $source-serif;
}

.color-secondary {
  color: $secondaryColor;
}

.container {
  margin-inline: auto;
  max-width: 100rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.45);
  height: max-content;
  position: relative;
}

.form-control-submit-button {
  margin: auto;
  display: inline-block;
  width: 30%;
  height: 3.25rem;
  border: 1px solid #EDB443;
  border-radius: 30px;
  background-color: #F5F7FA;
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: $source-serif;
  line-height: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s
}

.form-control-submit-button:hover {
  background-color: #EDB443;
  color: black
}

.content {
  font-family: $source-serif;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  //align-items: center;

  p {
    text-align: justify;
  }

  li {
    list-style: unset;
    font-size: unset;
  }
}

section {
  z-index: 4;
  height: 100vh;
  position: relative;
}

.grid-item {
  float: left;
  margin-top: 50px;
  width: 400px;
  height: max-content;
}

.posts {

  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 369px);
  grid-template-rows: auto;
  margin: auto;
  justify-items: center;
  gap: 20px;
}

.post {
  //width: 400px;
  background-color: white;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

  .post-excerpt {
    padding: 1rem;
    line-height: 1.3;
    font-size: 1.1rem;
    font-family: $source-sans;
  }

  .post-thumbnail {
    max-width: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0
  }

  .post-title {
    //transition: all 0.5s ease;

    font-family: $source-serif;
    color: black;
    font-size: 1.8em;
    text-align: center;
    font-weight: 600;
    margin-top: 0.6em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    word-break: break-word
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-20px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.45);

    .btn-anim i {
      visibility: visible;
      transition: transform .5s ease;
      transform: translateX(20px);
    }

    .btn-anim span {
      transition: transform .5s ease;
      transform: translateX(-10px);
    }
  }

  a {
    text-decoration: none;
    color: unset;
  }


}

.btn-more {

}

.btn-anim {
  padding: .4rem 2rem !important;
  display: inline-block;
  font-family: $source-serif;
  font-size: 1.1rem;
  float: right;
  background-color: $mainColor;
  border-radius: 0 0 10px 0;

  i {
    visibility: hidden;
    transition: transform .5s ease;
    transform: translateX(10px);
  }

  span {
    transition: transform .5s ease;
    display: inline-block;
    transform: translateX(10px);
  }

  &:hover {
    i {
      visibility: visible;
      transition: transform .5s ease;
      transform: translateX(20px);
    }

    span {
      transition: transform .5s ease;
      transform: translateX(-10px);
    }
  }


}

.social {
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 200;
  bottom: 5em;
  right: 4em
}

.social-toggle, .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  width: 60px;
  height: 60px;
  background-color: rgba(237, 180, 67, 1);
  position: fixed;
  bottom: 5em;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: all 0.3s ease;
  transition: all 0.3s ease, -webkit-transform 0.3s ease;

}

.social-toggle i, .social-icon i {
  color: black;
  font-size: 1.4em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease
}

.social-toggle:hover, .social-icon:hover {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  transform: scale(1.1);
  cursor: pointer
}


.social-icon {
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: -10
}

.social-icon:hover {
  cursor: pointer
}

.social-icon:hover i {
  color: white
}

.social-icon.facebook:hover {
  background-color: #0470e5
}

.social-icon.gmail:hover {
  background-color: #ea4335
}

.social-icon.mail:hover {
  background-color: #34a853
}

.social-icon.pdf:hover {
  background-color: #ea4335
}

.social-icon:nth-of-type(2).open {
  visibility: visible;
  -webkit-transform: translateY(calc(calc(2 - 1) * (-5em))) !important;
  transform: translateY(calc(calc(2 - 1) * (-5em))) !important
}

.social-icon:nth-of-type(3).open {
  visibility: visible;
  -webkit-transform: translateY(calc(calc(3 - 1) * (-5em))) !important;
  transform: translateY(calc(calc(3 - 1) * (-5em))) !important
}

.social-icon:nth-of-type(4).open {
  visibility: visible;
  -webkit-transform: translateY(calc(calc(4 - 1) * (-5em))) !important;
  transform: translateY(calc(calc(4 - 1) * (-5em))) !important
}

.social-icon:nth-of-type(5).open {
  visibility: visible;
  -webkit-transform: translateY(calc(calc(5 - 1) * (-5em))) !important;
  transform: translateY(calc(calc(5 - 1) * (-5em))) !important
}